@import "tailwindcss";

* {
    font-family: 'Raleway', serif;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

@utility scrollbar-hidden {
    &::-webkit-scrollbar {
        display: none;
    }
}

@utility scrollbar-slim {
    &::-webkit-scrollbar {
        width: 3px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}


